body{
  background-color: #ffebee;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


#mainDiv{
  text-align: initial;
  display: flex;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
}

/* 
#############################################################
#                        INPUT AREA                         #
#############################################################

*/

.labelInput, .dataInput{
  display: block;
  margin-bottom: 0.5rem;
}

#qrTextInput{
  overflow: hidden;
  resize: none;
  padding-left: 7px;
  padding-top: 4px;
  font-size: large;
  margin-bottom: 20px;
}

#labelLogoSelector{
  margin-top: 15px;
}

#inputContainer{
  padding-left: 2vw;
  padding-top: 3vh;
  display: flexbox;
  width: fit-content;
  height: fit-content;
  flex: 1;
  background-color: white;
}

#logoForm{
  display: none;
  animation-duration: 200ms;
  margin-top: 10px;
}

#logoPreview{
  visibility: hidden;
  display: none;
  width: 20vw;
  height: 15vh;
}

#labelLogoSelector{
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0.7rem;
}

#logoSelector{
  display: block;
}

#ecLevel, #ecLevelLabel, #versionSelector, #verSelectLabel{
  visibility: hidden;
  display: none;
}

.colorPicker{
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  border: 0;
  background-color: transparent;
}

.colorPickerLabel{
  width: fit-content;
  color: grey;
  align-items: center;
  display: flex;
}

#inputLogo{
  padding: 0.7rem;
}


/* 

#############################################################
#                         CANVAS SIDE                       #
#############################################################

*/

#qrCanvas{
  margin: auto;
  display: block;
}

#qrCanvasContainer{
  padding: 20px 20px;
  flex: 1;
  
}

#downloadLink{
  padding: 1vh 3vh;
  display: none;
  width: 47%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #04aa6d;
  color: white;
  text-decoration: none;
  text-align: center;
}

#downloadLink:hover{
  background-color: #059862;
}

/* 
#############################################################
#                           FOOTER                          #
#############################################################

*/

#pageFooter{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Copy paste from another project */

.social_link_container{
  display: inline-block;
  width: fit-content;
  margin-top: 3vh;
  transition: transform 0.3s ease-in-out 0ms;
}

.social_link_container:hover{
  transform: translateY(5px);
}

.social_name{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #272729;
  font-size: 23px;
}

.fas{
  padding-right: 5px;
}

.separator{
  margin-top: 180px;
  border: 3px solid #be3144;
}

/* 
#############################################################
#                      MEDIA STUFF                          #
#############################################################

*/

@media(height < 555px){
  #pageFooter{
    position: sticky;
    left: auto;
    bottom: auto;
  }
  .social_link_container{
    transition: transform 0.3s ease-in-out 0ms;
  }
}

@media (1100px <= width <= 1250px){
  #qrCanvas{
    width: 90%;
  }

  #pageFooter{
    position: sticky;
    left: auto;
    bottom: auto;
  }
}

@media(width < 1100px){
  #mainDiv{
    display: block;
  }

  #inputContainer{
    width: 95%;
  }

  #qrTextInput{
    overflow: visible;
    width: 98%;
  }

  #pageFooter{
    position: sticky;
    left: auto;
    bottom: auto;
  }
}

@media(width < 780px){
  #qrCanvas{
    width: 90%;
  }

  #qrTextInput{
    width: 98%;
  }
}

