body{
  background-color: #ffebee;
  text-align: center;
}


#mainDiv{
  /* border: 1px solid blue; */
  text-align: initial;
  display: flex;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
}

.labelInput, .dataInput{
  display: block;
  margin-bottom: 0.5rem;
}

#qrText{
  overflow: hidden;
  resize: none;
  padding-left: 7px;
  padding-top: 4px;
  /* height: 81px; */
  font-size: large;
  margin-bottom: 20px;
}

/* 
.colorPicker{
  display: block;
  margin: 5px;
} */

#labelLogoSelector{
  margin-top: 15px;
}

#inputContainer{
  padding-left: 2vw;
  padding-top: 3vh;
  display: flexbox;
  border: 1px solid white;
  width: fit-content;
  height: fit-content;
  flex: 1;
  background-color: white;
}

#qrCanvas{
  border: 1px solid black;
  margin: auto;
  display: block;
  /* width: 95%; */
  /* scale: 4; */
}

#qrCanvasContainer{
  border: 5px solid red;
  padding: 20px 20px;
  flex: 1;
  
}

#logoForm{
  display: none;
  animation-duration: 200ms;
  margin-top: 10px;
}

#downloadLink{
  padding: 1vh 3vh;
  display: none;
  width: 47%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #04aa6d;
  color: white;
  text-decoration: none;
  text-align: center;
}

#downloadLink:hover{
  background-color: #059862;
}

#logoPreview{
  visibility: hidden;
  display: none;
  width: 20vw;
  height: 15vh;
}

#labelLogoSelector{
  display: flex;
  align-items: center;
  user-select: none;
  padding: 0.7rem;
}

#logoSelector{
  display: block;
}

#ecLevel, #ecLevelLabel, #versionSelector, #verSelectLabel{
  visibility: hidden;
  display: none;
}

.colorPicker{
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  /* width: 30px;
  height: 30px; */
  border: 0;
  background-color: transparent;
}

.colorPickerLabel{
  /* border: 1px solid black; */
  width: fit-content;
  color: grey;
  align-items: center;
  display: flex;
}

#inputLogo{
  padding: 0.7rem;
}

@media (1100px <= width <= 1250px){

  #qrCanvas{
    width: 90%;
  }
}

@media(width < 1100px){
  #mainDiv{
    display: block;
  }

  #inputContainer{
    width: 95%;
  }
/* 
  #qrCanvasContainer{
    width: 50%;
  }

  #qrCanvas{
    width: 95%;
  } */

  #qrText{
    width: 100%;
  }
}

@media(width < 780px){

  #inputContainer{
    width: 90%;
  }

  #qrCanvas{
    width: 95%;
  }

  #qrText{
    width: 100%;
  }
}